<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]="formValidation" (ngSubmit)="saveChanges()" novalidate="novalidate">

    <div formGroupName="nombrecompleto">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" formControlName="name" type="text" placeholder="Nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" formControlName="correo" placeholder="Correo electrónico">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">

            <input class="form-control" type="text" formControlName="username" placeholder="Username">
        </div>
    </div>

    <!-- Passw 1 -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">

            <input class="form-control" type="password" formControlName="passw1" placeholder="Password">
        </div>
    </div>

    <!-- Passw 2 -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Confirm Password</label>
        <div class="col-md-8">
            <input class="form-control" type="password" formControlName="passw2" placeholder="Confirm Password">
        </div>
    </div>



    <!-- PASATIEMPOS ARRAY  formArrayName-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos
          <button type="button" class="btn btn-primary" (click)="addPasatiempo()">
            Add +
          </button>
        </label>
        <div class="col-md-8" formArrayName="pasatiempos">

            <input *ngFor="let p of formValidation.controls['pasatiempos'].controls; let i = index" [formControlName]="i" type="text" class="form-control" style="margin-top: 5px;">

        </div>
    </div>





    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

    <p>Form VALID:</p>
    {{formValidation.valid}}
    <br>
    <p>Form STATUS:</p>
    {{formValidation.status}}


</form>