<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="saveData(form)" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" [ngClass]="{ 'is-invalid': (nombre.status !== 'VALID' && nombre.touched) , 'is-valid': nombre.status === 'VALID' }" type="text" placeholder="Nombre" name='nombre' required minlength="5" [(ngModel)]="usuario.name" #nombre="ngModel">

                <div class="valid-feedback" *ngIf="nombre.status === 'VALID'">
                    Looks good!
                </div>
                <div *ngIf="nombre?.errors?.required && nombre?.touched" class="invalid-feedback">
                    Campo Requerido
                </div>
                <div *ngIf="nombre?.errors?.minlength?.requiredLength && nombre?.touched " class="invalid-feedback">
                    Minimo de caracteres requeridos es: {{ nombre?.errors?.minlength?.requiredLength }}
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" [ngClass]="{ 'is-invalid': (apellido.status !== 'VALID' && apellido.touched) , 
                'is-valid': apellido.status === 'VALID' }" type="text" placeholder="Apellido" name='apellido' required minlength="5" [(ngModel)]="usuario.apellido" #apellido="ngModel">

                <div class="valid-feedback" *ngIf="apellido.status === 'VALID'">
                    Looks good!
                </div>
                <div *ngIf="apellido?.errors?.required && apellido?.touched" class="invalid-feedback">
                    Campo Requerido
                </div>
                <div *ngIf="apellido?.errors?.minlength?.requiredLength && apellido?.touched" class="invalid-feedback">
                    Minimo de caracteres requeridos es: {{ apellido?.errors?.minlength?.requiredLength }}
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" [ngClass]="{ 'is-invalid': (mail.status !== 'VALID' && mail.touched) , 'is-valid': mail.status === 'VALID' }" type="email" placeholder="Correo electrónico" #mail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name='email'
                required [(ngModel)]="usuario.email" #mail="ngModel">

            <div class="valid-feedback" *ngIf="mail.status === 'VALID'">
                Looks good!
            </div>
            <div *ngIf="mail?.errors?.required && mail?.touched" class="invalid-feedback">
                Campo Requerido
            </div>
            <div *ngIf="mail?.errors?.pattern?.requiredPattern && mail?.touched" class="invalid-feedback">
                No cumple con el formato de un email
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Pais:</label>
        <div class="col-md-8">
            <select [(ngModel)]="usuario.pais" class="form-control" name="pais" required>
            <option value="">Select a country</option>
            <option *ngFor="let p of paises" [value]="p.cod" >{{p.name | titlecase}}</option>
            </select>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo:</label>
        <div class="col-md-8">

            <div class="form-check form-check-inline" *ngFor="let s of sexo">
                <input class="form-check-input" type="radio" [(ngModel)]="usuario.sexo" name="sexo" [value]="s.cod" required>
                <label class="form-check-label" for="inlineRadio1">{{s.name}}</label>
            </div>

        </div>
    </div>


    <div class="form-group row">
        <div class="col-md-8 offset-2">
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="usuario.conditions" name="conditions" type="checkbox" required>
                <label class="form-check-label" for="defaultCheck1">
                        Terms and Conditions
                      </label>
            </div>

        </div>
    </div>


    <!-- BOTON -->
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid">
        Guardar
      </button>
        </div>
    </div>

</form>

<div>
    <p>{{usuario | json}}</p>
</div>