<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="saveData(form)" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" name='nombre' required minlength="5" [(ngModel)]="usuario.name" #nombre="ngModel">

                <div *ngIf="nombre?.errors?.required && nombre?.touched">
                    Campo Requerido
                </div>
                <div *ngIf="nombre?.errors?.minlength?.requiredLength && nombre?.touched ">
                    Minimo de caracteres requeridos es: {{ nombre?.errors?.minlength?.requiredLength }}
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name='apellido' required minlength="5" [(ngModel)]="usuario.apellido" #apellido="ngModel">

                <div *ngIf="apellido?.errors?.required && apellido?.touched">
                    Campo Requerido
                </div>
                <div *ngIf="apellido?.errors?.minlength?.requiredLength && apellido?.touched">
                    Minimo de caracteres requeridos es: {{ apellido?.errors?.minlength?.requiredLength }}
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" #mail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name='email' required [(ngModel)]="usuario.email" #mail="ngModel">

            <div *ngIf="mail?.errors?.required && mail?.touched">
                Campo Requerido
            </div>
            <div *ngIf="mail?.errors?.pattern?.requiredPattern && mail?.touched">
                No cumple con el formato de un email
            </div>

        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>